* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 1em;
    box-sizing: border-box;
}

.w100 {
    width: 100%;
    overflow: hidden;
    float: left;
}

h2 {
    margin: 2em 0 1em 0;
}

[class*='chart_box'] {
    overflow: hidden;
    width: 49%;
    padding: 1em 0 0 0;
    border: 1px solid #aaa;
    margin: 0.5%;
    float: left;
}

[class*='chart_box'] div {
    margin: 0 auto;
}

.ml0 {
    margin-left: 0;
}

@media screen and (max-width:1044px) {
    .chart_box_bar {
        width: 99%;
        margin: 0 0 1% 0;
    }
}
@media screen and (max-width:885px) {
    .chart_box {
        width: 99%;
        margin: 0 0 1% 0;
    }
}
