* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    padding: 0 1em;
}

h2 {
    margin-top: 1em;
}

.w50 {
    width: 49%;
    height: auto;
    overflow: hidden;
    margin-left: 2%;
    float: left;
}

.w80 {
    width: 80%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.mleft0 {
    margin-left: 0;
}

.mright50 {
    margin-right: 50%;
}

[id *= 'chart'] {
    border: 1px solid #aaa;
    padding: 1em;
    margin: 1em;
    float: left;
}

@media screen and (max-width:768px) {
    body {
        font-size: 14px;
    }

    .w50, .w80 {
        width: 100%;
        margin-left: 0;
    }
}

