* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0 1em;
}

.w50 {
    width: 49%;
}

.w100 {
    width: 100%;
    overflow: hidden;
}

h2 {
    margin-top: 2em;
}

[class*='chart_box'] {
    overflow: hidden;
    /* background-color:#efefef; */
    width: 49%;
    padding: 1em 0 0 0;
    border: 1px solid #aaa;
    margin: 0.5%;
    float: left;
}

.chart_box_bar {
    width: 100%;
}

.chart_box div {
    margin: 0 auto;
}

.ml0 {
    margin-left: 0;
}

@media screen and (max-width:1350px) {}

@media screen and (max-width:885px) {
    .chart_box {
        width: 100%;
        margin: 0 0 1% 0;
    }
}
