* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
}

[class*='maxTbl_wrapper'] {
    width: 100%;
    margin: 1em auto;
    margin-bottom: 2em;
    border: 1px solid #aaa;
    overflow: auto;
}

[class*='maxTbl_wrapper'] .maxTbl {
    border-collapse: collapse;
    width: 100%;    
}

.maxTbl th,
.maxTbl td {
    background: #fff;
    padding: 0.5em 1em;
    text-align: center;
}

.maxTbl th {
    min-width: 120px;
}
.maxTbl td {
    min-width: 66px;
}

/* maxTbl : basic */
.maxTbl_wrapper {}

.maxTbl_wrapper .maxTbl {
    overflow-x: hidden;
}

.maxTbl thead tr th {}

.maxTbl thead tr td {}

/* maxTbl : scroll */
.maxTbl_wrapper-scroll {}

.maxTbl_wrapper-scroll .maxTbl {}

.maxTbl_wrapper-scroll .maxTbl th {
    min-width: 120px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #eee;
}

.maxTbl_wrapper-scroll .maxTbl td {
    min-width: 66px;
    border: 1px solid #eee;
    border-left: 0;
}

/* maxTbl : fixed (col) */
.maxTbl_wrapper-scroll-col {
    height: 200px;
}

.maxTbl_wrapper-scroll-col .maxTbl thead tr th {
    border: 1px solid #eee;
    border-bottom: 1px solid #aaa;
}

.maxTbl_wrapper-scroll-col .maxTbl tbody tr td {
    border: 1px solid #eee;
}

/* maxTbl : fixed (row) */
.maxTbl_wrapper-scrollFix-row {
    border: 1px solid #aaa;
}

.maxTbl_wrapper-scrollFix-row .maxTbl {}

.maxTbl_wrapper-scrollFix-row .maxTbl th,
.maxTbl_wrapper-scrollFix-row .maxTbl td {
    background: #fff;
    padding: 0.5em 1em;
}

.maxTbl_wrapper-scrollFix-row .maxTbl th {
    min-width: 120px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #eee;
}

.maxTbl_wrapper-scrollFix-row .maxTbl td {
    min-width: 66px;
    border: 1px solid #eee;
    border-left: 0;
    text-align: center;
}

.maxTbl_wrapper-scrollFix-row tr th:first-child,
.maxTbl_wrapper-scrollFix-row tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

/* maxTbl : fixed (col) */
.maxTbl_wrapper-scrollFix-col {
    height: 200px;
}

.maxTbl_wrapper-scrollFix-col .maxTbl {}

.maxTbl_wrapper-scrollFix-col .maxTbl th,
.maxTbl_wrapper-scrollFix-col .maxTbl td {
    background: #eee;
    padding: 0.5em 1em;
}

.maxTbl_wrapper-scrollFix-col .maxTbl thead th {
    position: sticky;
    top: 0;
    min-width: 125px;
    background-color: #aaa;
}

/* maxTbl : fixed (both) */
.maxTbl_wrapper-scrollFix-both {
    height: 200px;
}

.maxTbl_wrapper-scrollFix-both .maxTbl th,
.maxTbl_wrapper-scrollFix-both .maxTbl td {
    border: 1px solid #eee;
}

.maxTbl_wrapper-scrollFix-both .maxTbl thead th {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #aaa;
    background-color: #333;
    color: #efefef;
}

.maxTbl_wrapper-scrollFix-both .maxTbl tbody th {
    position: sticky;
    left: 0;
    border-right: 1px solid #aaa;
    background-color: #333;
    color: #efefef;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead th:first-child {
    position: sticky;
    left: 0;
    border-right: 1px solid #aaa;
    z-index: 1;
}

/* maxTbl : scroll (responsive row) */
.maxTbl_wrapper-responsive-row {
    overflow: scroll;
}
.maxTbl_wrapper-responsive-row .maxTbl {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .maxTbl_wrapper-responsive-row {
        overflow-y: hidden;
    }
}

/* maxTbl : scroll (responsive col) */
.maxTbl_wrapper-responsive-col {
    overflow: scroll;
}
.maxTbl_wrapper-responsive-col .maxTbl {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .maxTbl_wrapper-responsive-col {
        overflow-x: hidden;
    }
}