* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
}

[class*='maxTbl_wrapper'] {
    width: 100%;
    height: auto;
    margin: 1em auto;
    margin-bottom: 2em;
    border: 1px solid #aaa;
}

[class*='maxTbl_wrapper'] .maxTbl {
    border-collapse: collapse;
    width: 100%;
}

[class*='maxTbl_wrapper'] .maxTbl .maxTbl_caption {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.maxTbl th,
.maxTbl td {
    background: #fff;
    padding: 0.5em 1em;
    text-align: center;
}

/* maxTbl : basic */
.maxTbl_wrapper .maxTbl {
    overflow-x: hidden;
    word-break: break-word;
}
.maxTbl_wrapper .maxTbl thead tr th,
.maxTbl_wrapper .maxTbl thead tr td,
.maxTbl_wrapper .maxTbl tbody tr th,
.maxTbl_wrapper .maxTbl tbody tr td {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper .maxTbl thead tr td:last-child,
.maxTbl_wrapper .maxTbl tbody tr th:last-child,
.maxTbl_wrapper .maxTbl tbody tr td:last-child {
    border-right: 0;
}
.maxTbl_wrapper .maxTbl tbody tr:last-child th,
.maxTbl_wrapper .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}

/* maxTbl : scroll (row) */
.maxTbl_wrapper-scroll-row {
    overflow-x: scroll;
    overflow-y: hidden;
}
.maxTbl_wrapper-scroll-row .maxTbl {
    width: 120%;
}
.maxTbl_wrapper-scroll-row .maxTbl thead tr th,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr th {
    min-width: 120px;
}
.maxTbl_wrapper-scroll-row .maxTbl thead tr td,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr td {
    min-width: 66px;
}
.maxTbl_wrapper-scroll-row .maxTbl thead tr th,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr th {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper-scroll-row .maxTbl tbody tr:last-child th,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}
.maxTbl_wrapper-scroll-row .maxTbl thead tr td,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr td {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper-scroll-row .maxTbl thead tr td:last-child,
.maxTbl_wrapper-scroll-row .maxTbl tbody tr td:last-child {
    border-right: 0;
}

/* maxTbl : scroll (col) */
.maxTbl_wrapper-scroll-col {
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.maxTbl_wrapper-scroll-col .maxTbl {
    width: 100%;
    word-break: break-word;
}
.maxTbl_wrapper-scroll-col .maxTbl thead tr th,
.maxTbl_wrapper-scroll-col .maxTbl tbody tr td {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper-scroll-col .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}

/* maxTbl : fixed (row) */
.maxTbl_wrapper-scrollFix-row {
    overflow: auto;
    overflow-y: hidden;
}
.maxTbl_wrapper-scrollFix-row .maxTbl {
    width: 120%;
}
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr th,
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr th {
    min-width: 120px;
}
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr td,
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr td {
    min-width: 66px;
}
.maxTbl_wrapper-scrollFix-row thead tr th::after,
.maxTbl_wrapper-scrollFix-row tbody tr th::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #aaa;
}
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr th,
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr td {
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr td {
    border-right: 1px solid #aaa;
}
.maxTbl_wrapper-scrollFix-row .maxTbl thead tr td:last-child {
    border-right: 0;
}
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr th {
    border-bottom: 1px solid #aaa;
}
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr td {
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: center;
}
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr:last-child th,
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}
.maxTbl_wrapper-scrollFix-row .maxTbl tbody tr td:last-child {
    border-right: 0;
}
.maxTbl_wrapper-scrollFix-row tr th:first-child,
.maxTbl_wrapper-scrollFix-row tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

/* maxTbl : fixed (col) */
.maxTbl_wrapper-scrollFix-col {
    height: 200px;
    border: 1px solid #333;
    overflow: hidden;
    overflow-y: scroll;
}
.maxTbl_wrapper-scrollFix-col .maxTbl thead tr th,
.maxTbl_wrapper-scrollFix-col .maxTbl tbody tr td {
    background: #eee;
    border-left: 1px solid #333;
}
.maxTbl_wrapper-scrollFix-col .maxTbl th:first-child,
.maxTbl_wrapper-scrollFix-col .maxTbl td:first-child {
    border-left: 0;
}
.maxTbl_wrapper-scrollFix-col .maxTbl thead tr th {
    position: sticky;
    top: 0;
    background-color: #aaa;
}
.maxTbl_wrapper-scrollFix-col .maxTbl thead tr th::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #333;
}
.maxTbl_wrapper-scrollFix-col .maxTbl tbody tr td {
    border-bottom: 1px solid #333;
}
.maxTbl_wrapper-scrollFix-col .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}

/* maxTbl : fixed (both) */
.maxTbl_wrapper-scrollFix-both {
    height: 200px;
    border: 1px solid #333;
    overflow: auto;
}
.maxTbl_wrapper-scrollFix-both .maxTbl {
    width: 120%;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead tr th,
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr th {
    min-width: 120px;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead tr td,
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr td {
    min-width: 66px;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead tr th {
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #aaa;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead tr th:last-child {
    border-left: 1px solid #333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead tr th::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead .sticky_both {
    position: sticky;
    left: 0;
    z-index: 1;
}
.maxTbl_wrapper-scrollFix-both .maxTbl thead .sticky_both::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color:#333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr td {
    background-color: #eee;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr td:last-child {
    border-right: 0;
}
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr th {
    position: sticky;
    left: 0;
    background-color: #aaa;
    border-bottom: 1px solid #333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr th::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color:#333;
}
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr:last-child th,
.maxTbl_wrapper-scrollFix-both .maxTbl tbody tr:last-child td {
    border-bottom: 0;
}