* {
    margin: 0;
    padding: 0;
}

body {
    padding: 1em;
}

[class*='maxTbl_wrapper'] {
    width: 100%;
    margin: 1em auto;
    margin-bottom: 2em;
    border: 1px solid #aaa;
    overflow: auto;
}

[class*='maxTbl_wrapper-scrollFix'] .maxTbl {
    border-collapse: collapse;
    width: 100%;
}

/* maxTbl : basic */
.maxTbl_wrapper {}

.maxTbl {}

.maxTbl th,
.maxTbl td {}

.maxTbl thead tr th {}

.maxTbl thead tr td {}

/* maxTbl : scroll */
.maxTbl_wrapper-scroll {
}

.maxTbl_wrapper-scroll .maxTbl {
    border-collapse: collapse;
    width: 100%;    
}

.maxTbl_wrapper-scroll .maxTbl th,
.maxTbl_wrapper-scroll .maxTbl td {
    background: #fff;
    padding: 0.5em 1em;
}

.maxTbl_wrapper-scroll .maxTbl th {
    min-width: 120px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #eee;
}

.maxTbl_wrapper-scroll .maxTbl td {
    min-width: 66px;
    border: 1px solid #eee;
    border-left: 0;
    text-align: center;
}

/* maxTbl : fixed (row) */
.maxTbl_wrapper-scrollFix-row {
    border: 1px solid #aaa;
}

.maxTbl_wrapper-scrollFix-row .maxTbl {}

.maxTbl_wrapper-scrollFix-row .maxTbl th,
.maxTbl_wrapper-scrollFix-row .maxTbl td {
    background: #fff;
    padding: 0.5em 1em;
}

.maxTbl_wrapper-scrollFix-row .maxTbl th {
    min-width: 120px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #eee;
}

.maxTbl_wrapper-scrollFix-row .maxTbl td {
    min-width: 66px;
    border: 1px solid #eee;
    border-left: 0;
    text-align: center;
}

.maxTbl_wrapper-scrollFix-row tr th:first-child,
.maxTbl_wrapper-scrollFix-row tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

/* maxTbl : fixed (col) */
.maxTbl_wrapper-scrollFix-col {
    height: 200px;
}

.maxTbl_wrapper-scrollFix-col .maxTbl {}

.maxTbl_wrapper-scrollFix-col .maxTbl th,
.maxTbl_wrapper-scrollFix-col .maxTbl td {
    background: #eee;
    padding: 0.5em 1em;
}

.maxTbl_wrapper-scrollFix-col .maxTbl thead th {
    position: sticky;
    top: 0;
    min-width: 125px;
    background-color: #aaa;
}